/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #000;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

input{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #777777;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Remove dotted borders on links
   ========================================================================== */


:active
{
outline: none;
}

:focus {
  -moz-outline-style: none;
}


/* You Will See This: */

:-moz-any-link:focus {
  outline: 1px dotted invert;
}

/* Change It To This: */

:-moz-any-link:focus {
  outline: none;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin trans {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@mixin transheight {
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -ms-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

@mixin transopacity {
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

@mixin bgcolortrans($duration) {
    -webkit-transition: background-color $duration ease;
    -moz-transition: background-color $duration ease;
    -ms-transition: background-color $duration ease;
    -o-transition: background-color $duration ease;
    transition: background-color $duration ease;
}

@mixin outerShadow($blur){
    -webkit-box-shadow: 0px 0px $blur 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px $blur 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px $blur 0px rgba(0,0,0,0.75);
}

@mixin innerShadow($blur){
    -webkit-box-shadow: inset 0px 0px $blur 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px $blur 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px $blur 0px rgba(0,0,0,0.75);
}

$formFieldsWidth: 345px;
$formFieldsHeight: 38px;
$formFieldsSpacing: 22px;
$columnWidth: 500px;
$formMobileFieldSize: 80%;
$formMobileFieldSizeSmall:92%;

$searchbar: 260px;
$mapFieldsHeight: 44px;
$filterListHeight: 280px;

$hertzYellow: #ffcf2c;
$itemHeight: 242px;
$openItemHeight: 245px;
$moduleHeight: 732px;
$mobileMapHeight: 400px;

$break1246: 1246px;
$break1200: 1200px;
$break1024: 1024px;
$break800: 800px;
$break768: 768px;
$break640: 640px;
$break480: 480px;
$break320: 320px;

$mapColumnBreak: 800px;

html,body{
    
}
body{
    background-color:#fff;
    color:#000;
    font-family:"Open Sans", sans-serif;
    font-weight:300;
    overflow:hidden;
    text-rendering:optimizeLegibility;
    @media screen and (max-aspect-ratio: 1920/1080) {
        &{}
    }
}

html, body{
    width:100%;
    height:100vh;    
    overflow:visible;
    margin:0;
    padding:0;
    background-color:#000;
    color:#fff;
}
.canvas{
    max-width:1246px;
    width:100%;
    margin:0 auto;
}
.canvas{
    opacity:1;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.loading{opacity:0;}
footer{
    width:100%;
    height:100px;
    box-sizing: border-box;
    display:inline-block;
}
header.page{
    width:100%;
    height:167px;
    padding:0 0 0 0;
    background-image:url('../img/navbar.png');
    background-repeat:no-repeat;
    background-position:left top;
}
.shake{
    -webkit-animation:shake 1s linear infinite;
    -moz-animation:shake 1s linear infinite;
    -ms-animation:shake 1s linear infinite;
    animation:shake 1s linear infinite;
}
@-ms-keyframes shake {
     0% { -ms-transform: rotate(00deg); }
     25% { -ms-transform: rotate(-20deg); }
     50% { -ms-transform: rotate(0deg); }
     75% { -ms-transform: rotate(20deg); }
     100% { -ms-transform: rotate(0deg); }
}
@-moz-keyframes shake {
    0% { -moz-transform: rotate(0deg); }
    25% { -moz-transform: rotate(-20deg); }
    50% { -moz-transform: rotate(0deg); }
    75% { -moz-transform: rotate(20deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes shake {
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(-20deg); }
    50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(20deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@keyframes shake {
    0% { transform:rotate(0deg); }
    25% { transform:rotate(-20deg); }
    50% { transform:rotate(0deg); }
    75% { transform:rotate(20deg); }
    100% { transform:rotate(0deg); }
}

.pulseAnimation{
    -webkit-animation:pulse 4s linear infinite;
    -moz-animation:pulse 4s linear infinite;
    -ms-animation:pulse 4s linear infinite;
    animation:pulse 4s linear infinite;
}
.pulseAnimation2{
    -webkit-animation:pulse2 2s linear infinite;
    -moz-animation:pulse2 2s linear infinite;
    -ms-animation:pulse2 2s linear infinite;
    animation:pulse2 2s linear infinite;
}
@-ms-keyframes pulse{
    0% { -ms-transform: scale(1); }
    50% { -ms-transform: scale(1.25); }
    100% { -ms-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }
    50% { -moz-transform: scale(1.25); }
    100% { -moz-transform: scale(1); }
}
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.25); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.25); }
    100% { transform: scale(1); }
}
@-ms-keyframes pulse2{
    0% { -ms-transform: scale(1); }
    50% { -ms-transform: scale(1.5); }
    100% { -ms-transform: scale(1); }
}
@-moz-keyframes pulse2 {
    0% { -moz-transform: scale(1); }
    50% { -moz-transform: scale(1.5); }
    100% { -moz-transform: scale(1); }
}
@-webkit-keyframes pulse2 {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.5); }
    100% { -webkit-transform: scale(1); }
}
@keyframes puls2e {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

.content{
    .inactive{opacity:0.7;}
    .single{
        width:100%;
        box-sizing: border-box;
    }

    .mapMod{
        position:relative;
    }
    .map{
        width:100%;
        box-sizing:border-box;
        padding-right:474px;
        #mapbox{
            width:100%;
            height:$moduleHeight;
        }
        @media screen and (max-width: $mapColumnBreak) {
            box-sizing: border-box;
            padding:0 16px;
            display:block;
            float:none;
            width:100%;
            margin-bottom:16px;
            #mapbox{
                width:100%;
                height:$mobileMapHeight;
            }
        }
        
    }
    .banner{
        width:100%;
        height:400px;
        background-image:url('../img/header.jpg');
        background-repeat:no-repeat;
        background-position:center top;
        background-size:cover;
        box-sizing: border-box;
        position:relative;
        margin-bottom:21px;
        @media screen and (max-width: $mapColumnBreak) {
            height:auto;
        }
        h2{
            padding:115px 0 0 59px;
            margin:0;
            color:#fff;
            font-weight:300;
            font-size:3.0em;
            line-height:120%;
            text-shadow: 1px 1px 2px black;
            span{
                display:block;
                color:$hertzYellow;
            }
            @media screen and (max-width: $break1246) {
                padding-top:55px;
            }                
            @media screen and (max-width: $mapColumnBreak) {
                padding-bottom:32px;
                font-size:2.8em;
            }
        }
    }
    .sidebar{
        position:absolute;
        right:0px;
        top:0px;
        width:474px;
        height:$moduleHeight;
        background-color:#000;
        padding:0 0 0 0;
        box-sizing: border-box;
        @media screen and (max-width: $mapColumnBreak) {
            position:static;
            left:0px;
            top:0px;
            display:block;
            float:none;
            width:100%;
            #mapbox{
                width:100%;
                height:$mobileMapHeight;
            }
        }
        
        .results{
            width:100%;
            margin-top:0px;
            height:$moduleHeight;
            box-sizing: border-box;
            overflow:hidden;
            position:relative;
            z-index:1;
            div.state{
                margin:0;
                padding:0;
                width:100%;
                height:690px;
                display:none;
                h2{
                    text-align:center;
                    color:$hertzYellow;
                    display:table-cell;
                    width:100%;
                    height:690px;
                    vertical-align:middle;
                    text-align:center;
                    padding:0 20px;
                }
            }
            &.initial{
                div.state.initial{display:table;}
            }
            &.searching{
                div.state.searching{display:table;}
            }
            &.noroute{
                div.state.noroute{display:table;}
            }
            &.nopoi{
                div.state.nopoi{display:table;}
            }
            &.notype{
                div.state.notype{display:table;}
            }
            &.blank{
                div.state.blank{display:table;}
            }
            &.noarrows{
                .arrows{
                    &.up{top:-28px;}
                    &.down{bottom:-28px;}
                }
            }

            .arrows{
                position:absolute;
                left:3px;
                z-index:50;
                width:100%;
                height:28px;
                background-color:#000;
                display:none;
                opacity:0.8;
                @media screen and (max-width: $mapColumnBreak) {left:0px;}
                &:hover{/*opacity:0.8;*/}
                &.up,
                &.down{
                    background-repeat:no-repeat;
                    background-position:50% 50%;
                }

                &.down{
                    -webkit-transition: opacity 0.3s ease, bottom 0.3s ease;
                    -moz-transition: opacity 0.3s ease, bottom 0.3s ease;
                    -ms-transition: opacity 0.3s ease, bottom 0.3s ease;
                    -o-transition: opacity 0.3s ease, bottom 0.3s ease;
                    transition: opacity 0.3s ease, bottom 0.3s ease;

                    bottom:0;
                    background-image:url('../img/arrow_down.png');
                }

                &.up{
                    -webkit-transition: opacity 0.3s ease, top 0.3s ease;
                    -moz-transition: opacity 0.3s ease, top 0.3s ease;
                    -ms-transition: opacity 0.3s ease, top 0.3s ease;
                    -o-transition: opacity 0.3s ease, tp 0.3s ease;
                    transition: opacity 0.3s ease, top 0.3s ease;

                    top:0;
                    background-image:url('../img/arrow_up.png');
                }
                @media screen and (max-width: $mapColumnBreak) {
                    /*
                    width:48px;
                    height:48px;
                    left:14px;
                    border-radius:32px;
                    background-color:#000;
                    &.up{bottom:76px;top:auto;}
                    &.down{bottom:14px;top:auto;}
                    */
                }
            }

            ul#poilist{
                list-style-type:none;
                box-sizing: border-box;
                width:100%;
                min-height:$moduleHeight;
                height:auto;
                margin:0;
                padding:0 0 0 0px;
                position:absolute;
                left:0;
                top:0;

                border-width:0 0 0 3px;
                border-style:solid;
                border-color:#fff;
                -webkit-transition: top 0.3s ease;
                -moz-transition: top 0.3s ease;
                -ms-transition: top 0.3s ease;
                -o-transition: top 0.3s ease;
                transition: top 0.3s ease;
                @media screen and (max-width: $mapColumnBreak) {
                    border-width:0;
                }

                li.entry{
                    &.waitingForImage{
                        .frameOuter{
                            opacity:0;
                        }
                        .main{
                            opacity:0;
                        }
                    }
                    &.imageLoaded{

                    }

                    &.third,&.last{}

                    &.template{display:none;}

                    margin:0;
                    width:100%;
                    height:$itemHeight;
                    padding:0;
                    background-color:#000;
                    color:$hertzYellow;
                    text-align:center;
                    position:relative;
                    top:0px;
                    border-width:0 0 3px 0;
                    border-style:solid;
                    border-color:#fff;
                    .opener{
                        cursor:pointer;
                        position:absolute;
                        left:0;
                        top:0;
                        z-index:20;
                        width:100%;
                        height:$itemHeight;
                        /*
                        background-color:#f00;
                        opacity:0;
                        */
                    }
                    .frameOuter{
                        position:absolute;
                        left:0;
                        top:0;
                        z-index:1;
                        width:100%;
                        height:$itemHeight;
                        overflow:hidden;
                        -webkit-transition: opacity 1s ease;
                        -moz-transition: opacity 1s ease;
                        -ms-transition: opacity 1s ease;
                        -o-transition: opacity 1s ease;
                        transition: opacity 1s ease;

                        .frameInner{
                            background-repeat:no-repeat;
                            background-position:left 50%;
                            background-size:cover;
                            opacity:0.5;
                            width:100%;
                            height:$itemHeight;

                            img{
                                display:none;
                            }
                        }
                        
                    }
                    &:hover{
                        .frameInner{
                            -webkit-animation:pulse 6s linear infinite;
                            -moz-animation:pulse 6s linear infinite;
                            -ms-animation:pulse 6s linear infinite;
                            animation:pulse 6s linear infinite;
                        }
                    }
                    &.open{
                        .infoOuter{
                            height:$openItemHeight;
                        }
                        a.closer{
                            opacity:1;
                        }    
                    }
                    a.closer{
                        position:absolute;
                        right:5px;
                        top:206px;
                        text-indent: -999em;
                        overflow:hidden;
                        width:30px;
                        height:30px;
                        z-index:26;
                        background-image:url('../img/close_yellow.png');
                        background-position:left top;
                        background-repeat:no-repeat;
                        -webkit-transition: opacity 0.3s ease, bottom 0.3s ease;
                        -moz-transition: opacity 0.3s ease, bottom 0.3s ease;
                        -ms-transition: opacity 0.3s ease, bottom 0.3s ease;
                        -o-transition: opacity 0.3s ease, bottom 0.3s ease;
                        transition: opacity 0.3s ease, bottom 0.3s ease;
                        opacity:0;                        
                    }                    
                    .main{
                        -webkit-font-smoothing: antialiased;
                        overflow:hidden;
                        position:absolute;
                        left:0;
                        top:0;
                        z-index:5;
                        width:100%;
                        height:$itemHeight;
                        -webkit-transition: opacity 1s ease;
                        -moz-transition: opacity 1s ease;
                        -ms-transition: opacity 1s ease;
                        -o-transition: opacity 1s ease;
                        transition: opacity 1s ease;
                        .icon{margin:40px auto 10px auto;}
                        h2,address{margin:0 auto;width:80%;}
                        h2{
                            color:$hertzYellow;
                            font-size:1.5em;
                            @media screen and (max-width: $break480) {
                                font-size:1.3em;
                            }
                        }
                        address{color:#fff;}
                    }
                    .infoOuter{
                        overflow:hidden;
                        position:absolute;
                        left:0px;
                        top:$itemHeight;
                        z-index:25;
                        width:100%;
                        height:0px;
                        padding-right:5px;
                        background-color:#000;
                        -webkit-transition: height 0.3s ease;
                        -moz-transition: height 0.3s ease;
                        -ms-transition: height 0.3s ease;
                        -o-transition: height 0.3s ease;
                        transition: height 0.3s ease;
                        @media screen and (max-width: $mapColumnBreak) {}
                        .infoInner{
                            position:relative;
                            overflow:hidden;
                            background-color:#000;
                            width:100%;
                            height:$openItemHeight;
                            box-sizing: border-box;
                            padding:10px;
                            text-align:left;
                            -webkit-font-smoothing: antialiased;
                            @media screen and (max-width: $mapColumnBreak) {}
                            div.lc, div.ot{
                                float:left;
                                display:inline-block;
                                box-sizing: border-box;
                            }
                            div.lc{
                                width:40%;
                            }
                            div.ot{
                                width:60%;
                            }
                            p{
                                color:$hertzYellow;
                                margin:0 0 10px 0;
                                text-align:center;
                                span{
                                    display:block;
                                    color:#fff;
                                }
                                &.distance{
                                    
                                }
                            }
                            a{text-decoration:none;}
                            p.web{
                                a{
                                    text-decoration:underline;
                                    color:#fff;
                                    display:block;
                                    text-align:center;
                                }
                            }
                            a.closer{
                                position:absolute;
                                right:2px;
                                top:2px;
                                text-indent: -999em;
                                overflow:hidden;
                                width:30px;
                                height:30px;
                                background-image:url('../img/close_yellow.png');
                                background-position:left top;
                                background-repeat:no-repeat;
                                /*
                                font-size:0.9em;
                                position:absolute;
                                left:0px;
                                bottom:0px;
                                width:100%;
                                text-align:center;
                                display:block;
                                height:30px;
                                color:#fff;
                                */
                            }
                            div.ot{
                                p{
                                    margin-bottom:0;
                                    text-align:center;
                                }
                                ul{
                                    font-size:0.8em;
                                    list-style-type:none;
                                    padding-left:0;
                                    display:block;
                                    margin-top:0;
                                    li{
                                        display:block;
                                        margin:0;
                                        color:#fff;
                                        text-align:center;
                                    }
                                }
                            }
                        }
                    }
                    &.noOpeningTimes{
                        .infoOuter{
                            .infoInner{
                                div.lc{
                                    width:100%;
                                    float:none;
                                    display:block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .searchbar{
        position:absolute;
        left:0;
        bottom:0;

        width:100%;
        height:auto;
        box-sizing: border-box;
        padding:16px 0px;
        background-color:rgba(0,0,0,0.7);

        @media screen and (max-width: $break1246) {
            height:auto;
        }

        @media screen and (max-width: $mapColumnBreak) {
            position:static;
            left:0;
            top:0;
        }

        label,p,a{
            color:#fff;
        }
        p{margin:0;}
        h2.searchCaption{
            color:#fff;margin:0;font-size:1.2em;font-weight:normal;margin:0 0 10px 16px;padding:0;
        }

        div.field, div.buttons{
            width:25%;
            display:block;
            box-sizing: border-box;
            margin:0;
            padding:0 16px;
            float:left;
        }
        div.buttons{
            div{
                display:inline-block;
                float:left;
                box-sizing: border-box;
                a{}
                &.gobutton{
                    /*
                    padding-right:10px;
                    width:66%;
                    */
                    width:100%;
                    a.go{width:100%;padding-left:20px;}
                }
                &.resetbutton{
                    width:33%;

                    a.reset{
                        display:none;
                        color:#fff;
                        background-color:#000;
                        width:100%;
                        text-align:center;
                        -webkit-transition: background-color 0.3s ease;
                        -moz-transition: background-color 0.3s ease;
                        -ms-transition: background-color 0.3s ease;
                        -o-transition: background-color 0.3s ease;
                        transition: background-color 0.3s ease;

                        &:hover{
                            background-color:#f00;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: $break1246) {
            div.field{
                width:33%;
            }
            div.buttons{
                margin:0px;
                padding:10px 0px;
                width:99%;
                div.gobutton{
                    width:33%;
                    margin:0;
                    padding:0 16px;
                    display:block;
                    float:right;
                }
            }
        }

        @media screen and (max-width: $break800) {
            div.field{
                width:50%;
            }
            div.m2{
                clear:left;
                padding-top:10px;
            }
            div.buttons{
                padding:10px 16px 0 16px;
                margin-right:0;
                width:50%;
                clear:none;
                float:right;
                div.gobutton{
                    padding:0px;
                    width:100%;
                }
            }
        }

        @media screen and (max-width: $break640) {
            div.field{
                width:100%;
                padding-top:10px;
            }
            div.m2{
                clear:left;
                
            }
            div.buttons{
                padding-top:10px;
                width:100%;
                clear:left;
            }
        }

        input{
            box-sizing: border-box;
            &.ac{
                line-height:$mapFieldsHeight;
                height:$mapFieldsHeight;
                display:inline-block;
                margin:0;
                padding:0 20px;
                border:1px solid #000;
            }
        }

        input[type="text"]{
            @include innerShadow(6px);width:100%;
            font-size:1em;
            color:#000;
            background-color:#fff;
        }
        a.button{
            outline:none;
            display:block;
            background-color:$hertzYellow;
            color:#000;
            text-decoration:none;
            line-height:$mapFieldsHeight;
            height:$mapFieldsHeight;
            padding:0 10px;
            box-sizing: border-box;
        }
        a.go{
            outline:none;
            text-align:center;
        }
        a.inactive{cursor:default;}
        .filterList{
            width:100%;
            position:relative;
            display:block;
            float:left;
            z-index:2;
            margin:0 10px 0 0;
            &.zero{
                a.open{
                    span.zero{display:block;}
                    span.one{display:none;}
                }
            }
            &.one{
                a.open{
                    span.zero{display:none;}
                    span.one{display:block;}
                }
            }

            &.open{
                .container{
                    .outer{
                        height:$filterListHeight;
                    }
                }
            }                    
            a.open.button{
                width:100%;
                text-align:left;
                background-color:#fff;
                @include innerShadow(6px);
                background-image:url('../img/spinner.png');
                background-repeat:no-repeat;
                background-position:95% 50%;
                padding-left:20px;
                border:1px solid #000;
            }
            .container{
                width:100%;
                position:absolute;
                left:0;
                top:$mapFieldsHeight;
                z-index:5;
                .outer{
                    overflow:hidden;
                    width:100%;
                    height:0;
                    
                    position:relative;
                    -webkit-transition: height 0.3s ease;
                    -moz-transition: height 0.3s ease;
                    -ms-transition: height 0.3s ease;
                    -o-transition: height 0.3s ease;
                    transition: height 0.3s ease;
                    .inner{
                        padding:8px;
                        background-color:#fff;
                        width:100%;
                        position:absolute;
                        left:0;
                        top:0;
                        z-index:5;
                        box-sizing: border-box;
                        label{color:#000;}
                        a{width:100%;text-align:center;clear:both;}
                    }
                }
            }
        }
    }
}

#form{
    background-image:url('../img/formbg_full.jpg');
    background-repeat:no-repeat;
    background-position:left top;
    background-size:cover;
    box-sizing: border-box;
    width:100%;

    .column{
        background-image:url('../img/formbg_column.png');
        background-repeat:repeat-y;
        background-position:left top;
        height:auto;
        margin:0 auto;    
    }
    .column1{
        width:$columnWidth;
        margin:0 auto;    
        box-sizing: border-box;
        padding:0 14px;
        background-color:rgba(0,0,0,0.7);

        @media screen and (max-width: $columnWidth) {
            width:100%;
        }

        .column2{
            width:100%;
            padding:0 0 0 2px;
            box-sizing: border-box;
            background-image:url('../img/formbg_yellow.png');
            background-repeat:repeat-y;
            background-position:left top;
            .column3{
                width:100%;
                padding:60px 2px 200px 0px;
                box-sizing: border-box;
                background-image:url('../img/formbg_yellow.png');
                background-repeat:repeat-y;
                background-position:right top;
                min-height:100vh;
                height:auto;
                img.logo{
                    display:block;
                    margin:0px auto 110px auto;
                    @media screen and (max-width: $columnWidth) {
                        width:55%;
                        margin-bottom:55px;
                    }
                }
                h2,p{
                    text-align:center;
                    margin:0 60px 10px 60px;
                    color:#fff;
                    @media screen and (max-width: $columnWidth) {
                        margin:0 0px 10px 0px;
                    }
                }
                h2{
                    font-weight:normal;
                    font-size:1.95em;
                    span{
                        color:$hertzYellow;
                        display:block;
                    }
                }
                p{
                    margin-bottom:70px;
                    @media screen and (max-width: $columnWidth) {
                        margin:0 15px 10px 15px;
                    }
                }
                input[type=text]{
                    font-size:1em;
                    color:#000;
                    display:block;
                    width:$formFieldsWidth;
                    height:$formFieldsHeight;
                    margin:0 auto $formFieldsSpacing auto;
                    border:0;
                    box-sizing: border-box;
                    padding:0 0 0 22px;
                    @include innerShadow(6px);
                    @media screen and (max-width: $columnWidth) {
                        width:$formMobileFieldSize;
                    }
                    @media screen and (max-width: $break480) {
                        width:$formMobileFieldSizeSmall;
                    }

                }
                a.button{
                    box-sizing: border-box;
                    display:block;
                    text-align:center;
                    width:100%;
                    text-align:left;
                    background-color:#fff;
                    color:#000;
                    text-decoration:none;
                    float:none;
                    clear:both;
                    cursor:pointer;
                    &.inactive{opacity:0.7;cursor:default;}
                    &.open{
                        text-align:left;
                        @include innerShadow(6px);
                        line-height:$formFieldsHeight;
                        height:$formFieldsHeight;
                        padding-left:22px;
                        background-image:url('../img/spinner.png');
                        background-repeat:no-repeat;
                        background-position:95% 50%;
                    }
                    &.close, &.go{
                        background-color:$hertzYellow;
                    }
                     &.go{
                        text-align:center;
                        margin:0 auto 0 auto;
                        width:$formFieldsWidth;
                        line-height:$formFieldsHeight;
                        height:$formFieldsHeight;
                        @media screen and (max-width: $columnWidth) {
                            width:$formMobileFieldSize;
                        }
                        @media screen and (max-width: $break480) {
                            width:$formMobileFieldSizeSmall;
                        }
                        
                    }
                }

                .filterList{
                    position:relative;
                    width:$formFieldsWidth;
                    height:$formFieldsHeight;
                    height:auto;
                    display:block;
                    z-index:2;
                    margin:0 auto $formFieldsSpacing auto;
                    @media screen and (max-width: $columnWidth) {
                        width:$formMobileFieldSize;
                    }
                    @media screen and (max-width: $break480) {
                        width:$formMobileFieldSizeSmall;
                    }

                    &.open{
                        .container{
                            .outer{
                                height:$filterListHeight;
                            }
                        }
                    }
                    &.error{
                        height:auto;
                        div.errorMessage{
                            display:block;
                        }    
                    }
                    &.zero{
                        a.open{
                            span.zero{display:block;}
                            span.one{display:none;}
                        }
                    }
                    &.one{
                        a.open{
                            span.zero{display:none;}
                            span.one{display:block;}
                        }
                    }
                    div.errorMessage{
                        display:none;
                        background-image:url('../img/redtriangle.png');
                        background-repeat:no-repeat;
                        background-position:50% 0px;
                        padding-top:20px;
                        p{
                            width:100%;
                            padding:0px;
                            line-height:$formFieldsHeight;
                            margin:0;
                            color:#fff;
                            background-color:#f00;
                            @media screen and (max-width: $columnWidth) {
                                height:auto;
                            }
                        }
                    }                    
                    .container{
                        width:100%;
                        position:absolute;
                        left:0;
                        top:40px;
                        z-index:5;
                        @media screen and (max-width: 640px) {
                            &{
                                top:-100px;
                            }
                        }
                        .outer{
                            overflow:hidden;
                            width:100%;
                            height:0;
                            
                            position:relative;
                            -webkit-transition: height 0.3s ease;
                            -moz-transition: height 0.3s ease;
                            -ms-transition: height 0.3s ease;
                            -o-transition: height 0.3s ease;
                            transition: height 0.3s ease;
                            .inner{
                                padding:8px;
                                background-color:#fff;
                                width:100%;
                                position:absolute;
                                left:0;
                                top:0;
                                z-index:5;
                                box-sizing: border-box;
                                @include innerShadow(6px);
                                a{width:100%;text-align:center;}
                            }
                        }
                    }
                    @media screen and (max-width: 400px) {
                        &{
                            height:auto;
                            a.open.button{
                                min-height:$formFieldsHeight;
                                height:auto;
                                line-height:1.2em;
                                padding:5px 22px;
                            }
                        }
                        &.one{
                            a.open.button{
                                min-height:$formFieldsHeight;
                                height:auto;
                                line-height:$formFieldsHeight;
                                padding:0px 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#map{
    display:none;
}

.filterList{
    ul{
        list-style-type:none;
        margin:0;
        padding:0;
        width:100%;
        display:block;
        li{
            display:block;
            vertical-align:middle;
            width:100%;
            color:#000;
            cursor:pointer;
            margin:0 0 2px 0;
            padding:0;
            span{
                vertical-align:middle;
                padding:0;
                margin:2px 8px 0 0px;
                display:block;
                float:left;
                width:16px;
                height:16px;
                background-image:url('../img/radiobutton.png');
                background-repeat:no-repeat;
                background-position:0px 0px;
            }
            &.checked{
                span{
                    background-position:0px -16px;    
                }
            }
            &:hover{
                span{
                    background-position:0px -32px;    
                }
                
            }
        }
    }
}
